*  {
  margin: 0;
}
header {
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  background-color: #303030;
  gap: 30px;
}
ul {
  list-style: none;
  display: inline;
}
li {
  display: inline;
  margin: 0 5px;
}
a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  display: inline;
}
i {
  color: white;
}
.menu-item {
  position: relative;
  display: inline-block;
}
.logo-div {
  position: relative;
  width: 90px;
  height: 90px;
}
.green {
  position: absolute;
  border: 10px solid green;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  z-index: 1;
}
.green:hover {
  transform: rotate(90deg);
}
.red {
  position: absolute;
  border: 10px solid red;
  height: 50px;
  width: 50px;
  top: 0;
  right: 0;
  z-index: 3;
}
.red:hover {
  transform: rotate(90deg);
}
.blue {
  position: absolute;
  border: 10px solid blue;
  height: 50px;
  width: 50px;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.blue:hover {
  transform: rotate(90deg);
}
.yellow {
  position: absolute;
  border: 10px solid orange;
  height: 50px;
  width: 50px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.yellow:hover {
  transform: rotate(90deg);
}
.green, .red, .blue, .yellow {
  position: absolute;
  border-width: 10px;
  height: 50px;
  width: 50px;
  transition: transform 0.5s;
}
.lms a {
  color: blue;
  font-size: 90px;
  font-weight: 900;
}
.flex-div {
  display: flex;
  width: fit-content;
  margin: 0 auto 0 auto;
}
.main-hover-div {
  display: none;
  position: absolute;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: white;
}
.menu-item:hover .main-hover-div {
  display: block;
}
.hov-div-item a {
  color: black;
  padding: 8px;
}
.hov-div-item {
  padding: 8px;
}
.hov-div-item:hover {
  background-color: #ddd;
}
@media only screen and (max-width: 414px) {
  nav {
    display: block;
    text-align: left;
  }

  .menu-item {
    display: block;
    margin: 10px 0;
  }

  .lms a {
    font-size: 50px;
  }

  .main-hover-div {
    position: static;
    box-shadow: none;
    background-color: #303030;
  }

  .menu-item:hover .main-hover-div {
    display: block;
  }

  .main-hover-div .hov-div-item {
    display: block;
    padding: 10px;
  }

  .hov-div-item a {
    color: white;
  }

  .hov-div-item:hover {
    background-color: #505050;
  }
}